<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">

<p id="notice"><%= notice %></p>

<h1>タスクリスト</h1>

<table>
  <thead>
    <tr>
      <th>タスク名称</th></th>
      <th>内容</th>
      <th>期限</th>
      <th>担当者</th>
      <th>ステータス</th>
      <th>詳細</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.deadline %></td>
        <td><%= task.charge %></td>
        <td><%= task.status == 2? "完了" : "対応中" %></td>
        <td><%= link_to '詳細', task_path(task), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to '編集', edit_task_path(task), class: 'btn btn-success btn-xs' %></td>

        <% if task.status == 2 %>
          <td><%= link_to '削除', task_path(task), method: :delete, data: { confirm: '本当に削除して宜しいですか？' }, class: 'btn btn-danger btn-xs' %></td>
        <% else %>
          <td></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'タスク登録', new_task_path(@user), class: 'btn btn-primary' %>

</div>